.cake-search-wrapper {
    text-align: center;
}

.products.collection-content-wrapper {
    .nested-category-children {
        display: none;
    }

    .nested-category-tree-wrapper {
        display: none;
    }
}