.cake-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    .select-wrapper {
        margin: 0 8px;
        width: 200px;

        select {
            display: none;
        }
    }
}